<!--<!DOCTYPE html>-->
<html>
<head>
    <title>App</title>
</head>

<body>
<div ng-init="findAll()" class="container-fluid">
    <header id="header">
        <div class="row" style="background-color: lightgray"
             ng-controller="NavbarCtrl"  role="navigation">
            <div>
                <!--<img class="navbar-brand" src="assets/images/logo.png">-->
                <div class="static-notification">
                    <notification-box></notification-box>
                </div>
            </div>

            <div class="col-md-10" ng-repeat="context in contexts" data-target="#navigation-menu">
                <div class="col-md-2">
                    <nav-bar-item></nav-bar-item>
                </div>
            </div>
        </div>
    </header>
    <div class="col-md-7 top-space">
        <div class="row accounts-name-container">
            <div class="col-md-12 top-space" ng-repeat="account in accounts">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-xs btn-default pull-right .glyphicon-remove-sign" tooltip="Remove"
                                        ng-click="remove($index, account.nickname)">
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Username:</label>
                            </div>

                            <div class="col-md-5" ng-bind="account.nickname"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>First Name:</label>
                            </div>
                            <div class="col-md-2" ng-bind="account.firstName"
                                 editable-text="account.firstName"
                                 onaftersave="update(account)">
                            </div>
                            <div ng-if="!account.firstName" ng-init="account.firstName='-'"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Last Name:</label>
                            </div>

                            <div class="col-md-5" ng-bind="account.lastName"
                                 editable-text="account.lastName"
                                 onaftersave="update(account)"></div>
                            <div ng-if="!account.lastName" ng-init="account.lastName='-'"></div>

                            <div ng-if="!account.imageData" class="col-md-4">
                                <button style="margin-right: 5px" ng-click="importImage(account.nickname)" class="btn btn-primary btn-xs font-scale">
                                    INSERT PICTURE
                                </button>
                            </div>
                            <div ng-if="account.imageData" class="col-md-4">
                                <img ng-src="{{getImage(account)}}" ng-click="importImage(account.nickname)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Email:</label>
                            </div>
                            <div ng-if="!account.email" ng-init="account.email='-'"></div>
                            <div class="col-md-5" ng-bind="account.email" editable-email="account.email"
                                 onaftersave="update(account)"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Date of birth:</label>
                            </div>
                            <div ng-if="!account.dateOfBirth" ng-init="account.dateOfBirth='-'"></div>
                            <div class="col-md-5" ng-bind="account.dateOfBirth | date:'dd-MM-yyyy'"
                                 editable-date="account.dateOfBirth" onaftersave="update(account)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 top-space">
        <form class="css-form" name="accounts">
            <div class="col-md-12 accounts-name-container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        <input class="form-control" type="text"
                               ng-model="account.nickname" placeholder="Nickname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        <input class="form-control" type="text"
                               ng-model="account.firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        <input class="form-control" type="text"
                               ng-model="account.lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        <input class="form-control" type="email"
                               ng-model="account.email" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                        <input class="form-control" type="date"
                               ng-model="account.dateOfBirth" placeholder="Date of Birth">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        <button class="btn btn-primary" type="button" ng-click="create(account)">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

</body>
</html>
